@model Agencia_De_Viajes_Proyecto.Models.Paquete

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Paquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DestinoId" class="control-label"></label>
                <select asp-for="DestinoId" class ="form-control" asp-items="ViewBag.DestinoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaqueteFechaSalida" class="control-label"></label>
                <input asp-for="PaqueteFechaSalida" class="form-control" />
                <span asp-validation-for="PaqueteFechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaqueteFechaLlegada" class="control-label"></label>
                <input asp-for="PaqueteFechaLlegada" class="form-control" />
                <span asp-validation-for="PaqueteFechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaqueteFechaRegreso" class="control-label"></label>
                <input asp-for="PaqueteFechaRegreso" class="form-control" />
                <span asp-validation-for="PaqueteFechaRegreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaqueteCantPersonas" class="control-label"></label>
                <input asp-for="PaqueteCantPersonas" class="form-control" />
                <span asp-validation-for="PaqueteCantPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaqueteMonto" class="control-label"></label>
                <input asp-for="PaqueteMonto" class="form-control" />
                <span asp-validation-for="PaqueteMonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
